*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;

    font-family: "Inter", sans-serif;
    color: #f3f3f3;
    background-color: #090a12;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card-wrapper {
    will-change: transform;
    transition: transform 0.1s ease-out;
    animation: scale 3s ease-in-out infinite;
}
@keyframes scale {
    0%{scale: 1;}
    50%{scale: 1.02;}
    100%{scale: 1;}
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 1.2em;
    width: 350px;
    height: 470px;
    background-color: #1b1d2a;

    & h1{
        color: #5e6797;
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    & img{
        border: 4px solid rgb(36, 40, 56);
        border-radius: 10px;
        image-rendering: pixelated;
        width: 180px;
    }

    .rarity{
        display: inline-block;
        margin-top: 10px;
        border-radius: 5px;
        padding: 5px 10px;
        color: #1b1d2a;
        font-weight: 800;
        background-color: #573ca0;
        box-shadow: 0px 2px 10px #573ca0;
    }

    .description{
        background-color: #ffffff10;
        color: #cacaca;
        border-radius: 10px;
        padding: 6px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
    }



    &::after, &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: 
        conic-gradient(
        from var(--angle),
        #e0c3fc,
        #8ec5fc,
        #5a5ae0,
        #8ec5fc,
        #e0c3fc
        );
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;

        padding: 3px;
        border-radius: 10px;
        animation: 2s spin linear infinite;
    }

    &::before{
        filter: blur(1.5rem);
        opacity: 0.5;
    }

    /* The gradient animation idea by Coding2GO on YT */
}
@keyframes spin {
    from{--angle:0deg;}
    to{--angle:360deg;}
}